/**fonts**/
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
/**end fonts**/

/**colors**/
:root { 
  --extra-dark: #453E40;
  --dark: #5e5759;
  --richblack: #090C08;
  --pinetree: #1C2518;
  --kombugreen: #384a30;
  --huntergreen: #3F553A;
  --feldgrau: #5f715b;
  --laurelgreen: #a4bc9f;
  --ashgreen: #C6D5C3;
  --lightgrey: #CBCDCC;
  --platinum: #EBEBEB;
  --silverpink: #C1A5A9;
}
/**end colors**/

html { 
  scroll-padding-top: 70px;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0px; 
  padding: 0px;
  overflow-x: hidden; 
  scroll-behavior: smooth; 
  background: var(--platinum);
}

@media only screen and (min-width: 576px) {
  body { 
    padding-bottom: 114px;
  }
}

/**nav**/
#navbar { 
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 70px;
  background: grey;
  font-family: 'Poppins', sans-serif;
}

#navcolor { 
  background: var(--pinetree);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.name { 
  position: absolute;
  height: 100%;
  width: auto;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  line-height: 70px;
  left: 25px;
  color: var(--laurelgreen);
}

#navlink-container { 
  width: 100%;
  right: 25px;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.nav-link { 
  font-size: 25px;
  color: var(--laurelgreen);
  text-decoration: none;
  padding: 0px 10px;
  display: flex;
  height: 100%;
  align-items: center;
  transition: background-color 0.3s ease-out;
}

.nav-link:hover { 
  background-color: var(--kombugreen);
  color: var(--silverpink);
  height: 100%;
  align-items: center;
}

@media only screen and (min-width: 576px) {
  .name { 
  display: none;
  }
  
  #navlink-container { 
    align-items: space-between;
    right: 0;
    width: 100%;
  }
  
  .nav-link { 
    font-size: 20px;
    width: 100%;
  } 
  
  .nav-link:hover { 
  background: none;
  }
}
/**nav end**/

/**landing**/
#welcome-section {
  z-index: 5;
  position: relative;
  text-align: center;
  color: var(--richblack);
  height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom right, var(--pinetree), 75%, var(--ashgreen)); 
}

#welcome { 
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 150px;
}

@media only screen and (min-width: 576px) {
  #welcome { 
    font-size: 100px;
  }
}
/**end landing**/

/**about**/
#about { 
  text-align: center;
  padding: 10px 10px;
  color: var(--richblack);
}

#about h1 { 
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}

#about p { 
  font-family: 'Lato', sans-serif;
  font-size: 25px;
}
/**end about**/

/**projects grid**/
#projects { 
  padding: 5px 10rem;
  color: var(--richblack);
}

#projects h1 { 
  text-align: center;
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 5px;
}

.project-container { 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2.5rem;
  grid-template-rows: auto;
  width: 100%;
  height: auto;
}

.project-tile { 
  background: var(--lightgrey);
  border-radius: 5%;
  text-decoration: none;
  box-shadow: 7px 7px 5px var(--dark);
  transition: box-shadow 0.3s ease-out;
}

.project-img { 
  height: 80%;
  width: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.project-title { 
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  text-align: center;
  color: var(--richblack);
}

.project-title>i {
  color: var(--lightgrey);
  transition: color 0.2s ease-out;
}

.project-tile:hover { 
  box-shadow: 10px 10px 5px var(--extra-dark);
}

.project-tile:hover i { 
  color: var(--huntergreen);
}

@media only screen and (min-width: 576px) {
  #projects { 
    padding: 0px;
    width: 100vw;
  }
  
  #projects h1 { 
    font-size: 25px;
  }
  
  .project-title>i {
    color: var(--huntergreen);
  }
  
  .project-container { 
    width: 85%;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/**end projects**/

/**contacts**/
#contacts { 
  padding: 25px;
  font-size: 30px;
  color: var(--richblack);
}

.kit { 
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

#contacts-container { 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.profile-link { 
  text-decoration: none;
  color: var(--feldgrau);
  transition: transform 0.2s linear;
  font-family: 'Lato' sans-serif;
  font-size: 35px;
}

.profile-link:hover { 
  transform: scale(1.5, 1.5);
}

@media only screen and (min-width: 576px) {
  #contacts { 
    height: auto;
  }
  
  #contacts-container {
    flex-flow: column wrap;
    column-gap: 2em;
  }
  
  .profile-link { 
    justify-content: space-between;
    align-self: center;
    padding: 5px;
  }
  
  .profile-link:hover { 
    transform: none !important;
  }
}
/**end contacts**/

/**footer**/
#footer { 
  position: relative;
  background: var(--pinetree);
  color: var(--silverpink);
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-top: 37px;
  height: 100%:
}

#foot-container { 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#heart { 
  color: var(--laurelgreen);
}

@media only screen and (min-width: 576px) {
  #footer { 
  font-size: 20px;
  }
  
  #foot-container { 
  flex-direction: column;
  }
  
  #copy { 
    display: none;
  }
  
  .foot-disclaim { 
    align-self: center;
  }
}
/**end footer**/